/* ================= FOOTER ================= */

.footer{
    background: linear-gradient(135deg,#1e3a8a,#2563eb);
    color:white;
    text-align:center;
    padding:15px;
    margin-top:40px;
    font-size:17px;
}

.footer-links{
    margin-top:8px;
}

.footer-links a{
    color:#e0e7ff;
    margin:0 10px;
    text-decoration:none;
    font-size:14px;
}

.footer-links a:hover{
    text-decoration:underline;
}

.creator{
    font-weight:600;
    color:#facc15; /* yellow highlight */
    font-size:17px;
}